<% if (theme.la51_analytics.enable){ %>
<div style="display:none;">
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/<%= theme.la51_analytics.id %>.js">
    </script>
</div>
<% } %>
